html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar-fixed-top {
  margin-bottom: 0;
}

.list-group-item {
  white-space: nowrap;
  overflow: hidden;
}

#sidebar, #map_canvas {
  height: 100%;
}

#sidebar {
  overflow: scroll;
}

.star-ratings {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 14px;
  height: 14px;
  width: 70px;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
  display: inline-block;
}

.star-ratings-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}

.star-ratings-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}

.material-icons.goto-yelp {
  font-size: 18px;
  display: inline-block;
  float: right;
}
